 table {
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 0.5px;
        border: 1px solid #000;
        text-align: center;
    }
.menu{
	background-color: #FFF79A;
}
.heading{
	background-color: #78D492;
        width: 150px;
}
.content{
	background-color: #2A6F75;
	width: 350px;
}
.avtor{
	background-color: #32254A;
}
body{
	background-color: #171A26;
	font: serif;
}
