#header{
background:#2F3D3D;
color:white;
width:715px;
height:100px;
text-align:center;
font-family: 'Playfair Display', serif;    
}
#levoe{
background: #00CC00;
width:100px;
height:430px;
position:absolute;
text-align:center;
left:715px;
top:0px;
font-family: 'Playfair Display', serif;    
}
#menu{
background:#7D2817;
width:190px;
height:300px;
text-align:center;
font-family: 'Playfair Display', serif;    
}
#content{
background:#E89121;
width:525px;
height:300px;
position:absolute;
text-align:center;
left:190px;
top:100px;
font-family: 'Playfair Display', serif;    
}
#footer{
background:#373B3B;
color:white;
width:715px;
height:30px;
text-align:center;
font-family: 'Playfair Display', serif;    
}
body{
margin:0px;
font-family: 'Playfair Display', serif;
}
     
